<% profile_image_url = @user.facebook_picture_url || @user.photo.url || "http://placehold.it/110x110" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 login-form-container">
      <div class="profile-container">
        <div class="profile-image">
          <%= image_tag profile_image_url %>
        </div>
        <div class="profile-details">
          <h2>
            <%= @user.first_name %> <%= @user.last_name %>
          </h2>
            <p><b><i class="fa fa-envelope-o"></i>:</b> <%= @user.email %></p>
            <p><b><i class="fa fa-map-marker"></i>:</b> <%= @user.location? ? @user.location : 'No location to show' %></p>
            <p><b>A little bit about me:</b> <%= @user.description %></p>
            <p><b>My favourite golf course:</b> <%= @user.favourite_course %></p>
            <% if @user == current_user  %>
            <%= link_to 'Edit your profile', edit_user_path(current_user) %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
