<% if @course.image? %>
  <% url = cl_image_path @course.image, crop: :fill %>
<% else %>
  <% url = image_path "banner-background.png" %>
<% end %>


<div class="course-sidebar-container col-xs-12 col-md-3">
  <div class="course-sidebar-info">
    <div class="course-img">
      <%= image_tag @course.image %>
    </div>
    <div class="course-sidebar-details">
    <h3><%= @course.name %></h3>
    <p><i class="fa fa-envelope-o"></i> <%= @course.email %></p>
    <p><i class="fa fa-phone"></i> <%= @course.phone %></p>
    <p><i class="fa fa-map-marker"></i> <%= @course.address %></p>
    <p><b>Description: </b><%= @course.description %></p>
    <p><%= link_to 'Edit your course', new_course_path %></p>
    <p><%= link_to 'Add a new course', new_course_path %></p>
    <p>Bookings</p>

    </div>
  </div>
</div>




