<%= simple_form_for [@course, @event] do |f| %>
  <div class="recap--container">
  <% if current_user %>

    <h1>your booking:</h1>

    <div class="recap--container__details">
      <div class="recap-details-box">
        <p class="recap-label">invite your friends:</p>
        <div class="recap-invites">
        </div>
          <div class="event-checkbox-container">

            <% @friends.each do |friend| %>
            <% image_url = friend.facebook_picture_url || friend.photo.url || "http://placehold.it/60" %>
            <div class="form-group check_boxes optional event_invited_users">
              <span class="checkbox">
                <label for="event_invited_user_ids_<%= friend.id %>">
                  <input class="check_boxes optional hidden event-checkbox" type="checkbox" value="<%= friend.id %>" name="event[invited_user_ids][]" id="event_invited_user_ids_<%= friend.id %>">
                  <%= image_tag image_url, class: 'event-checkbox-label' %>
                </label>
              </span>
            </div>
            <% end %>
        </div>
      </div>
      <div class="recap-details-box">
        <p class="recap-label">Date & Time:</p>

        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control recap-datetimepicker" name="event[timeslot]"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="recap-details-box price-box">
        <div class='recap-details-price'>
        <p class="price-label">Price per person:</p>
          <p>£ <%= @course.price%></p>
        </div>
        <div class='recap-details-price'>
        <p class="price-label">Total price:</p>
          <p class="total-price">£ <%= @course.price %></p>
        </div>
      </div>
    </div>
    <%= f.submit "confirm", :class => 'recap-btn-confirm' %>
    <% else %>
    <div class="recap--container__details">
      <div class="recap-details-box">
        <p class="recap-label">date:</p>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control recap-datetimepicker" name="event[timeslot]"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="recap-details-box">
        <div class='recap-details-price'>
        <p class="price-label">Total Price:</p>
          <p>£ <%= @course.price%></p>
        </div>
      </div>
    </div>
    <div class="recap-signin recap-btn-confirm">
      <%= link_to "Please Login", user_session_path , :class => 'recap-btn-confirm' %>
      <%= link_to "Or Signup", new_user_registration_path , :class => 'recap-btn-confirm' %>
    </div>
    <% end %>
  </div>
<% end %>

<%= content_for(:after_js) do%>
  <script>
  $(function () {
  var today = moment();
  var tomorrowAtEight = moment(today).add(1, 'days').set({'hour': 8, 'minute': 0})
    $('#datetimepicker1').datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
      minDate: tomorrowAtEight,
      defaultDate: tomorrowAtEight,
      sideBySide: true,
      stepping: 10,
      daysOfWeekDisabled:  <%= @course.disabled_days %>
      disabledTimeIntervals: 
    });
  });
  var totalPrice = document.querySelector('.total-price')
  var checkedBoxes = document.querySelectorAll('input[type="checkbox"]');

  checkedBoxes.forEach(function(box) {
    box.addEventListener('change', function() {
      var checkBoxCount = document.querySelectorAll('input[type="checkbox"]:checked').length;
      console.log(checkBoxCount);
      totalPrice.innerText = '£ '+ <%= @course.price.to_i %> *  (checkBoxCount + 1);
    })
  })

  </script>
<% end %>
