<%= link_to event_path(event) do %>
  <div class="event">
    <% event_image = event.course.image? ? event.course.image : 'http://placehold.it/200/4caf50/ffffff' %>
    <%= cl_image_tag event_image %>
    <div class="event--details">
      <div class="event--details__left">
        <p class="event--details__title"><%= event.title %></p>
        <p class="<%= event.timeslot.to_date.future? ? 'future-event' : 'past-event' %>"><%= event.timeslot.strftime('%A, %d %b - %H:%M')  %></p>
        <p><i class="fa fa-map-marker"></i> <%= event.course.address %></p>
        <div class="event--details__friends">

          <% event.invited_users.each do |u| %>
            <% friend_image_url = u.facebook_picture_url || u.photo.url || "http://placehold.it/50x50" %>
            <%= link_to user_path(u) do %>
              <%= image_tag friend_image_url %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="event--details__right">
        <div class="event--details__payment">
          <% if event.timeslot.to_date.future? %>
          <p>Pay now:</p>
            <% btn_pay_class = event.invites.where(user_id: current_user.id).first.status == 'paid' ? 'btn-paid' : 'btn-to-pay' %>
            <div class="btn btn-pay <%= btn_pay_class %> ">
              <% if event.invites.where(user_id: current_user.id).first.status == 'payment-pending' %>
                <i class="fa fa-credit-card" aria-hidden="true"></i>
              <% elsif event.invites.where(user_id: current_user.id).first.status == 'paid' %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% end %>
            <% else %>
            <%= link_to 'Check your previous scores', course_event_path(event.course, event) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
