<% image_url = invite.user.facebook_picture_url || invite.user.photo.url || "http://placehold.it/60" %>
<div class="event-guest">
  <%= link_to user_path(invite.user) do %>
  <div class="event-guest-name">
    <%= image_tag image_url, class: 'event-guest-image' %>
    <p><%= "#{invite.user.first_name.capitalize} #{invite.user.last_name.capitalize}" %> <span class="organizer"><%= invite.user == current_user ? ' - Organizer ': '' %></span class="organizer"></p>
  </div>
  <% end %>
  <div class="event-guest-pay">
    <% if @event.balance == 0 %>
      <p class="status accepted">Paid</p>
      <div class="btn btn-pay btn-paid">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <% else %>
      <% if invite.status != 'paid' %>
    <p class="status <%= invite.status == 'paid' ? 'accepted' : 'pending'  %>">
      Pending
    </p>
    <p>
      £ <%= @order.amount / @event.invited_users.length %>
    </p>
    <% else %>
    <p class="status <%= invite.status == 'paid' ? 'accepted' : 'pending'  %>">
      Paid
    </p>
    <% end %>


    <% if invite.status != 'paid' && invite.user == current_user%>
      <%= form_tag order_split_path(@order) do %>
        <%= hidden_field_tag 'event_id', @event.id %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Book Golf Course"
            data-email="<%= current_user.email %>"
            data-description="Booking <%= @order.sku %>"
            data-amount="<%= @order.amount_cents / @event.invited_users.size %>"
            data-currency="<%= @order.amount.currency %>">

            </script>
            <%= button_tag(type: "submit", class: "btn btn-to-pay") do %>
            <% if invite.status == 'payment-pending' %>
              <i class="fa fa-credit-card" aria-hidden="true"></i>
            <% elsif invite.status == 'paid' %>
              <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
           <% end %>
        <% end %>
        <% else %>
        <div class="btn btn-to-pay" style="cursor:default">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
    <% end %>

  <% end %>
  </div>
</div>
