<table class="table table-bordered table-condensed">
  <thead class="">
    <tr>
      <td>Hole</td>
      <td>Par</td>
      <% @event.invited_users.each do |user| %>
      <td><%= user.first_name %></td>
      <% end %>
    </tr>
  </thead>
  <tbody class="table table-striped">
    <% @course.holes.each_with_index do |hole, index| %>
      <tr>
        <th id="holen"><%= index+1 %></th>
        <td id="parn"><%= hole.par %></td>
        <% @event.invited_users.each do |user| %>
          <% hole_scores = user.hole_scores.where(hole_id: hole.id) %>
          <% if hole_scores.any? %>
            <% hole_scores.each do |hole_score| %>
              <td id="player-score"><%= hole_score.strikes %></td>
            <% end %>
          <% else %>

            <td id="player-score"><%= simple_form_for [@course, @event, @hole_score] do |h| %>
              <%= h.input :strikes, wrapper_html: { class: 'player-strikes' } %>
              <%= hidden_field_tag 'user_id', user.id %>
              <%= hidden_field_tag 'hole_id', hole.id %>
              <%= h.submit "s" %><% end %>
            </td>

          <% end %>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>
