<% profile_image_url = @user.facebook_picture_url || @user.photo.url || "http://placehold.it/110x110" %>

<div class="user--profile-info-container col-xs-12 col-md-3">
    <div class="user--profile-info">
      <div class="user--profile-info__avatar">
        <%= image_tag profile_image_url %>
        <h3>
          <%= @user.first_name %> <%= @user.last_name %>
        </h3>
      </div>
      <div class="user--profile-info__details">
        <% if @user == current_user  %>
          <ul style="list-style: none;">
            <li>
            <p><i class="fa fa-envelope-o"></i> <%= @user.email %></p>
            </li>
            <li>
            <p><i class="fa fa-map-marker"></i> <%= @user.location? ? @user.location : 'No location to show' %></p>
            </li>
            <li>
            <%= link_to 'Profile', user_path(current_user) %>
            </li>
            <li>Notifications</li>
            <li>Friends</li>
            <li>Events</li>
            <li>
            <%= link_to 'Add a course', new_course_path %>
            </li>
            <li>
            <%= link_to 'Course settings', new_course_path %>
            </li>
            <li>Bookings</li>
            <li><%= link_to 'Settings', edit_user_registration_path %>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="user--profile-info__friends">
        <h5><%= @friends.count %> Friends</h5>
        <%  @friends.each do |friend| %>
           <% friend_image_url = friend.facebook_picture_url || friend.photo.url || "http://placehold.it/50x50" %>
          <%= link_to user_path(friend) do %>
            <%= image_tag friend_image_url %>
          <% end %>
        <% end %>
        <div class="user--friends-count">
          <p>
            <% @friends.count %>
          </p>
          <% if @user != current_user %>
          <a href="#"><i class="fa fa-plus"></i>Add as a friend</a>
          <% end %>
        </div>
      </div>
    </div>
</div>
