<% if @event.timeslot.to_date.future? %>
<!-- <div class="container"> -->
<!--   <div class="row">
    <div class="col"> -->
      <div class="event-container">
        <div class="event-container-left">

          <%= render 'shared/event_banner', event: @event, course: @course %>
          <div class="event-box">
            <div class="event-guest">
              <div class="event-guest-name">
                <h3>Players</h3>
              </div>
              <div class="event-guest-pay">
                <% if @event.balance != 0 %>
                <p>£ <%= @event.balance %></p>
                <%= form_tag order_payments_path(@order) do %>
                  <%= hidden_field_tag 'event_id', @event.id %>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-name="Book Golf Course"
                      data-email="<%= current_user.email %>"
                      data-description="Booking <%= @order.sku %>"
                      data-amount="<%= @event.balance_cents %>"
                      data-currency="<%= @order.amount.currency %>">

                      </script>
                      <%= button_tag(type: "submit", class: "btn btn-pay-all") do %>
                      <i class="fa fa-credit-card" aria-hidden="true"></i>  Pay All
                      <% end %>
                  <% end %>
                  <% else %>
                  <p class="btn btn-pay-all" style="cursor: default">All paid!</p>
                <% end %>
              </div>
            </div>


            <% @event.invites.each do |invite| %>
              <%= render 'shared/event_invite', invite: invite, event: @event %>
            <% end %>


          </div>
        </div>
        <div class="event-container-right">
          <div id="event-map"></div>
          <div class="event-box comments-box">
            <div class="comments-form">
              <h3 class="comments-number">
                <%= pluralize @event.comments.size, "Comment" %>
              </h3>
              <%= render 'comments/form', event: @event, comment: @comment  %>
            </div>
            <div id="comments">
              <% if @event.comments.blank? %>
                <!-- <p>Be the first to leave a comment</p> -->
              <% else %>
                <% @event.comments.reverse.each do |comment| %>
                  <%= render 'comments/show', comment: comment %>
                <% end %>
              <% end %>
            </div>

          </div>

        </div>
      </div>
      <% else %> <%# IF EVENT IS PAST  %>
      <div class="event-container">
        <div class="event-container-left event-past-container">
          <%= render 'shared/event_banner', event: @event, course: @course %>
        <div class="event-box">
          <h3>Scores</h3>
          <%= render 'shared/score_card' %>
        </div>
      </div>
    </div>
      <% end %>

<!--     </div>
  </div> -->
<!-- </div> -->

<% content_for(:after_js) do %>
  <script type="text/javascript">

  const styles = [
    {
        "featureType": "administrative.land_parcel",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#f49935"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#fad959"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#a1cdfc"
            },
            {
                "saturation": 30
            },
            {
                "lightness": 49
            }
        ]
    }
  ];

  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
    handler.buildMap({ provider: {styles: styles }, internal: { id: 'event-map' } }, function() {
      markers = handler.addMarkers(<%= raw [{lat: @event.course.latitude, lng: @event.course.longitude}].to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
       handler.getMap().setZoom(12);
    });

    document.querySelectorAll(".stripe-button-el").forEach(function(button) {
      button.style.display = 'none';
    })

  </script>

<% end %>
