
<div class="course-show-container">
  <div class="flex">
   <%= render 'shared/user_sidebar' %>
    <div class="show--content dashboard--content">
      <div class="show--content__box course-description">
      <h1>Course Dashboard</h1>
      <i>You can update the details of your golf course here:</i>

        <%= simple_form_for @course, method: :patch do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :email %>
          <%= f.input :phone %>
          <%= f.input :price %>
          <%= f.input :image, label: "Upload a new image"%>
          <%= f.input :image_cache, as: :hidden %>
          <%= f.input :description, label: "Update the description", :as => :text, :input_html => {:rows => 5} %>
          <%= f.submit 'Update golf course details' %>
          <% end %>
      </div>

      <div class="show--content__box course-description">
        <%= simple_form_for @course do |f| %>
        <% week_days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
          <%= f.input :disabled_days, label: "Tick days the golf course is closed:", collection: week_days, as: :check_boxes, value_method: lambda { |d| week_days.index(d) } %>
        <%= f.submit 'Update disabled days' %>
        <% end %>
      </div>
      <div class="show--content__box course-description">
        <%= simple_form_for @course, method: :patch do |f| %>
          <%= f.input :size, collection: ['short', 'medium', 'long'] %>
          <%= f.input :water, as: :boolean %>
          <%= f.input :sand, as: :boolean %>
          <%= f.input :trees, as: :boolean %>
          <%= f.input :plain, as: :boolean %>
          <%= f.submit %>
        <% end %>

      </div>
      <div class="show--content__box course-description">
        <div id= "course-holes", class="show--content__box course-description course-holes">
       <h2>Holes</h2>
       <p>Number of holes: <%= @course.holes.count %></p>
       <p>Hole/Par</p>
       <%= simple_form_for(@course) do |f| %>
         <% @course.holes.each do |hole| %>
           <%= f.simple_fields_for hole do |p| %>
           <div class="course-hole">
             <%= p.input :hole_id, as: :hidden, input_html: {value: hole.id } %>
             <%= p.input :name, label: false, wrapper_html: { class: 'course-hole-name' }%>
             <%= p.input :par, label: false, wrapper_html: { class: 'course-hole-par' }%>
           </div>
           <% end %>
         <% end %>
         <%= f.submit 'Update holes' %>

       <% end %>


     </div>
     <div id="course-bookings", class="show--content__box course-description course-bookings">
       <h2>Events Booked on Your Course</h2>
       <% @events.each do |event| %>
         <p><b><%= event.title %> </b> (<%= event.timeslot.strftime('%A, %d %b - %H:%M') %>)</p>
         <p>Outstanding balance: <%= event.balance %></p>
         <p>Owner: <%= event.user.first_name %></p>
       <% end %>


      </div>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">

  const styles = [
    {
        "featureType": "administrative.land_parcel",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#f49935"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#fad959"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#a1cdfc"
            },
            {
                "saturation": 30
            },
            {
                "lightness": 49
            }
        ]
    }
  ];

  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
    handler.buildMap({ provider: {styles: styles }, internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw [{lat: @course.latitude, lng: @course.longitude}].to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
       handler.getMap().setZoom(12);
    });
  </script>
<% end %>
