<% disabled_days = [] %>
<% week_days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
<% @course.disabled_days.each do |d| %>
  <% disabled_days << week_days[d] %>
<% end %>

<%= render 'shared/course_show_banner', course: @course %>


<div class="course-show-container">

  <div class="flex">
    <div class="show--content">
      <div class="show--content__box" id="map"></div>
      <div class="show--content__box course-description">
        <p class="content-box--label">
          The course
        </p>
        <p class="content-box--text">
          <%= @course.description %>
        </p>
      </div>
      <div class="show--content__box ">
        <p class="content-box--label">
          Information
        </p>
        <div class="course-info row">
          <div class="content-box--text col-xs-12 col-md-6">
            <p><i class="fa fa-phone" aria-hidden="true"></i> <%= @course.phone || 'No phone number provided'  %></p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= @course.email || 'No email provided' %>
            <p><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= @course.address %></p>
            <p>
              <% if disabled_days.size > 0 %>
              <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Closed on:
              <%= disabled_days.join(', ') %>.
            </p>
            <% else %>
              <i class="fa fa-calendar-check-o"></i> Opens every day
            <% end %>
          </div>
          <div class="content-box--text col-xs-12 col-md-6 row">
            <%= render 'shared/course_badges', course: @course %>
          </div>
        </div>
      </div>
      <div class="show--content__box">
      <p class="content-box--label">
          <%= pluralize @course.reviews.size, "Review" %>
        </p>
        <div class="course-review">
            <% if policy(@course).reviewable? %>
              <%= render 'reviews/form', course: @course, review: @review %>
            <% end %>
          <div id="reviews">

            <% if @course.reviews.blank? %>
              Be the first to leave a review for <%= @course.name %>
            <% else %>
              <% @course.reviews.reverse.each do |review| %>
                <%= render 'reviews/show', review: review %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
      <%= render 'shared/course_show_recap', course: @course %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">

  const styles = [
    {
        "featureType": "administrative.land_parcel",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#f49935"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#fad959"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#a1cdfc"
            },
            {
                "saturation": 30
            },
            {
                "lightness": 49
            }
        ]
    }
  ];

  var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
    handler.buildMap({ provider: {styles: styles }, internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw [{lat: @course.latitude, lng: @course.longitude}].to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
       handler.getMap().setZoom(12);
    });
  </script>
<% end %>
