<p class="content-box--label">
  <%= pluralize @course.reviews.size, "Review" %>
</p>
<p>Average rating: <%= Review.where(course_id: @course.id).average(:rating) %></p>
<div class="course-review">
  <% if policy(@course).reviewable? %>
    <%= render 'reviews/form', course: @course, review: @review %>
  <% end %>
  <div id="reviews">
    <% if @course.reviews.blank? %>
   <!--    Be the first to leave a review for <%= @course.name %> -->
    <% else %>
    <% @course.reviews.reverse.each do |review| %>
      <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
  </div>
</div>
